<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- 添加WebSocketAppender -->
    <appender name="WS_APPENDER" class="com.github.config.WebSocketLogAppender"/>

    <!-- 控制台输出格式 -->
    <property name="CONSOLE_LOG_PATTERN"
              value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n"/>

    <!-- 控制台输出 -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- 日志级别设置 -->
    <root level="info">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="WS_APPENDER"/>
    </root>
</configuration>